<html lang="en">
<body style="font-family: Arial, Helvetica, sans-serif">
    <h2> Hello {{ name }} </h2>
    <p>
        Your request was successfully sent, we will contact you shortly
    </p>
</body>
</html>
